.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  // width: 800px !important;
  max-width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.error {
  color: red;
}

.datatable-scroll-container {
  width: 100%;
  overflow-x: auto;
}

.datatable-scroll-inner {
  min-width: 768px; // Adjust based on actual number of columns
}

@media (min-width: 768px) {
  .datatable-scroll-container {
    overflow-x: visible;
  }

  .datatable-scroll-inner {
    min-width: 100%;
  }
}
