
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#emailModal">
    Open Email Editor
  </button>
  
  
  <div class="modal fade" id="emailModal" tabindex="-1" aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="emailModalLabel">Customer Emails</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body d-flex">
        
          <div class="p-3 border-end bg-light" style="width: 250px;">
            <h5 class="mb-4">TEMPLATES</h5>
            <ul class="list-unstyled">
              <li 
                class="p-2 mb-2 border rounded"
                *ngFor="let template of templates"
                [ngClass]="{ 'bg-success text-white': selectedTemplate === template.key }"
                style="cursor: pointer;"
                (click)="selectTemplate(template.key)">
                {{ template.name }}
              </li>
            </ul>
          </div>
  
        
          <form #emailForm="ngForm" class="p-4 flex-grow-1" (ngSubmit)="saveEmail()">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input type="text" name="name" class="form-control" [(ngModel)]="email.name" required />
            </div>
  
            <div class="mb-3">
              <label class="form-label">Subject</label>
              <quill-editor name="subject" [(ngModel)]="email.subject" [modules]="quillConfig" theme="snow"></quill-editor>
            </div>
  
            <div class="mb-3">
              <label class="form-label">Email Body</label>
              <quill-editor name="body" [(ngModel)]="email.body" [modules]="quillConfig" theme="snow"></quill-editor>
            </div>
  
            <div class="d-flex gap-2">
              <button class="btn btn-primary" type="submit" [disabled]="emailForm.invalid">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  