<label class="fs-3">Tiers Creation</label>
<div class="text-end m-3">
    <button class="btn btn-primary " (click)="showPopup = true">Add Tier</button>

</div>

<div class="modal modal-lg fade show d-block" tabindex="-1" *ngIf="showPopup"
    style="background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title fw-bold">Add Tier</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="onTierModalClose()"></button>
            </div>

            <div class="modal-body ">
                <form [formGroup]="tierDataForm" (ngSubmit)="onSubmit()" class="row">
                    <div class="mb-3 col-6">
                        <label class="form-label">Tier Name</label>
                        <input type="text" class="form-control" formControlName="tier_name">
                        <div class="error" *ngIf="tierDataForm.get('tier_name')?.invalid && tierDataForm.get('tier_name')?.touched">
                            Field is required (Max Char: 40)
                          </div>
                    </div>
                    <div class="mb-3 col-6">
                        <label class="form-label">Rentals Qualification</label>
                        <input type="number" class="form-control" formControlName="rental_qual">
                        <div class="error" *ngIf="tierDataForm.get('rental_qual')?.invalid && tierDataForm.get('rental_qual')?.touched">
                            Field is required and accepts whole number only (Min: 0)
                          </div>
                    </div>

                    <!-- </div> -->


                    <div class="mb-3 col-6">
                        <label class="form-label">Upgrades</label>
                        <input type="text" class="form-control" formControlName="upgrades">
                        <div class="error" *ngIf="tierDataForm.get('upgrades')?.invalid && tierDataForm.get('upgrades')?.touched">
                            Max Char(250)
                          </div>
                    </div>
                    <div class="mb-3 col-6">
                        <label class="form-label">Sequence</label>
                        <input type="number" class="form-control" formControlName="sequence">
                        <div class="error" *ngIf="tierDataForm.get('sequence')?.invalid && tierDataForm.get('sequence')?.touched">
                            Field is required and accepts whole number only (Min: 1)
                          </div>
                          <div class="error" *ngIf="uniqueSequenceError">
                            Sequence is not unique
                          </div>
                    </div>

                    <div class="mb-3 col-6">
                        <label class="form-label">Perks (Free Rental Day)</label>
                        <input type="number" class="form-control" formControlName="notable_perks">
                        <div class="error" *ngIf="tierDataForm.get('notable_perks')?.invalid && tierDataForm.get('notable_perks')?.touched">
                            Accepts whole number only (Min: 0)
                          </div>
                    </div>

                    <div class="mb-3 col-6">
                        <label class="form-label">Perks</label>
                        <div class="input-group">

                            <input type="number" class="form-control rounded" formControlName="perks_pts_val">
                            <span class="input-group-text">Point</span>
                        </div>
                        <div class="error" *ngIf="tierDataForm.get('perks_pts_val')?.invalid && tierDataForm.get('perks_pts_val')?.touched">
                            Accepts whole number only (Min: 0)
                          </div>
                    </div>
                    <div class="mb-3 col-6 border">
                        <label class="form-label">Earning Rental Point Value</label>
                        <div class="input-group">
                            <span class="input-group-text">1 Point =</span>
                            <input type="number" class="form-control rounded" formControlName="rental_earn_pts_val">
                            <span class="input-group-text">AED</span>
                        </div>
                        <div class="error" *ngIf="tierDataForm.get('rental_earn_pts_val')?.invalid && tierDataForm.get('rental_earn_pts_val')?.touched">
                            Field is required and accepts whole number only (Min: 0)
                          </div>
                    </div>

                    <div class="mb-3 col-6">
                        <label class="form-label">Earning Non-Rental point value</label>
                        <div class="input-group">
                            <span class="input-group-text">1 Point =</span>
                            <input type="number" class="form-control rounded" formControlName="access_earn_pts_val">
                            <span class="input-group-text">AED</span>
                        </div>
                        <div class="error" *ngIf="tierDataForm.get('access_earn_pts_val')?.invalid && tierDataForm.get('access_earn_pts_val')?.touched">
                            Field is required and accepts whole number only (Min: 0)
                          </div>
                    </div>
                    <div class="mb-3 col-6 border">
                        <label class="form-label">Rental Redeem Point Value </label>
                        <div class="input-group">
                            <span class="input-group-text">1 Point =</span>
                            <input type="number" class="form-control rounded" formControlName="rental_redeem_pts_val">
                            <span class="input-group-text">AED</span>
                        </div>
                        <div class="error" *ngIf="tierDataForm.get('rental_redeem_pts_val')?.invalid && tierDataForm.get('rental_redeem_pts_val')?.touched">
                            Field is required and accepts whole number only (Min: 0)
                          </div>

                    </div>
                    <div class="mb-3 col-6">
                        <label class="form-label"> Non-Rental Redeem Point Value</label>
                        <div class="input-group">
                            <span class="input-group-text">1 Point =</span>
                            <input type="number" class="form-control rounded"
                                formControlName="access_redeem_pts_val">
                            <span class="input-group-text">AED</span>
                        </div>
                        <div class="error" *ngIf="tierDataForm.get('access_redeem_pts_val')?.invalid && tierDataForm.get('access_redeem_pts_val')?.touched">
                            Field is required and accepts whole number only (Min: 0)
                          </div>
                    </div>

                    <div class="mb-3 col-3 ms-2">
                        <label class="form-label d-block">Status</label>
                        <ui-switch size="small" (change)="onStatusSwitch($event)" color="#0d6efd" switchColor="#ffffff" [checked]="tierDataForm.value.status == 1 ? true: false">
                        </ui-switch>
                    </div>

                    <div class="mb-3 col-3 ms-2">
                        <label class="form-label d-block">Default Loyalty</label>
                        <ui-switch size="small" (change)="onDefaultLoyaltySwitch($event)" [checked]="tierDataForm.value.default_loyalty == 1 ? true: false"></ui-switch>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-primary" [disabled]="tierDataForm.invalid">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="table-wrapper bg-purple-100">
    <ngx-datatable class="material" [rows]="tierDataList" [columnMode]="ColumnMode.force" [headerHeight]="50"
        [footerHeight]="50" rowHeight="auto" [limit]="10">

        <ngx-datatable-column class="border-top center-align" name="Tier Name" prop="tier_name">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.tier_name }}
            </ng-template>
        </ngx-datatable-column>
    
            <ngx-datatable-column name="Rentals Qualifiction" prop="rental_qual">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row.rental_qual }}
                </ng-template>
            </ngx-datatable-column>
        
        <ngx-datatable-column name="Sequence">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.sequence}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.status == 1 ? 'Active' : 'Inactive' }}
            </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="Default Loyalty" prop="default_loyalty">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.default_loyalty == 1 ? 'Yes' : 'No' }}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Actions" [sortable]="false">
            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <!-- <button class="btn btn-sm btn-danger" (click)="deleteRow(rowIndex)">Delete</button> -->
                <button class="btn btn-sm btn-warning ms-2" (click)="editRow(row, rowIndex)">Edit</button>
            </ng-template>
            <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>

            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>


</div>