// .user-form-group {
//     margin-bottom: 20px;
//     padding: 10px;
//     border: 1px solid #ccc;
//     border-radius: 8px;
//   }
  
  button {
    margin-top: 10px;
  }
  .table-wrapper {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin-top: 1rem;
  }
  .modal-content {
    border-radius: 0.5rem;
  }
  .card-body input, .card-body .input-group {
    margin-bottom: 1rem;
  }
  ::ng-deep .ngx-datatable .datatable-header-cell {
    white-space: normal !important;
    line-height: 1.2;
    text-align: center;
    font-weight: bold; 
  }
  ::ng-deep .datatable-header-cell,
::ng-deep .datatable-body-cell {
  text-align: center !important;   
  vertical-align: middle;
}
::ng-deep .datatable-body-cell{
    margin-top: 20px;
    // margin-bottom: 5px;
    // border-bottom: 1px solid;
}

.error{
  color: red;
}

  